
* {
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
}

html {
    height: 100%;
}

body {
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.img img{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.picture {
  border-radius: 25px;
   background-image: url("paper.gif");
  padding: 20px;
  width: 200px;
  height: 150px;
}

.header h1 {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    height: 75px;
    margin: 2px;
    width: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.btn:disabled {
    color: black;
    cursor: no-drop;
}

.strike {
    background-color: red;
    position: absolute;
}

.strike-r1 {
    height: 5px;
    width: 12%;
    top: 15%;
    left: 44%;
}

.strike-r2 {
    height: 5px;
    width: 12%;
    top: 49%;
    left: 44%;
}

.strike-r3 {
    height: 5px;
    width: 12%;
    top: 82%;
    left: 44%;
}

.strike-c1 {
    height: 86%;
    width: 5px;
    top: 7%;
    left: 44.8%;
}

.strike-c2 {
    height: 86%;
    width: 5px;
    top: 7%;
    left: 49.8%;
}

.strike-c3 {
    height: 86%;
    width: 5px;
    top: 7%;
    left: 54.9%;
}

.strike-dlr {
    height: 6px;
    width: 12%;
    top: 49%;
    left: 44%;
    transform: skewY(45deg);
}

.strike-drl {
    height: 6px;
    width: 12%;
    top: 49%;
    left: 44%;
    transform: skewY(-45deg);
}

.result {
    text-align: center;
}

.reset {
    text-align: center;
}

#reset {
    border: 1px solid black;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 17px;
    margin: 35px;
    transition: all 0.1s ease-in-out;
}

#reset:hover {
    color: white;
    background-color: black;
}
